<h2> Basket </h2>

<table width="100%">
  <thead>
    <tr>
      <th></th>
      <th>Name</th>
      <th>Price</th>
      <th>Quantity</th>
      <th>Total(net)</th>
      <th>Total(gross)</th>
    </tr>
  </thead>
  <tbody>
    <% basket_summary.products_list.each do |list_item| %>
      <tr>
        <td>
          <form action="/basket/delete" method="post">
            <input type="hidden" name="product_id" value="<%= list_item[:product].id %>">
            <input type="hidden" name="quantity" value="<%= list_item[:quantity] %>">
            <input type="submit" value="Remove">
          </form>
        </td>
        <td><%= list_item[:product].name %></td>
        <td><%= "%.2f" % list_item[:product].price %> PLN</td>
        <td><%= list_item[:quantity] %></td>
        <td><%= "%.2f" % list_item[:total_net] %> PLN</td>
        <td><%= "%.2f" % list_item[:total_gross] %> PLN</td>
      </tr>
    <% end %>
    <tr><td colspan="6">
    &nbsp</td></tr>
  </tbody>
  <tfoot>
    <tr>
      <td></td>
      <td></td>
      <td></td>
      <td>SUMMARY:</td>
      <td><%= "%.2f" % basket_summary.sum_net %> PLN</td>
      <td><%= "%.2f" % basket_summary.sum_gross %> PLN</td>
    </tr>
  </tfoot>
</table>
