<h2> Basket </h2>

<table width="100%">
  <thead>
    <tr>
      <th>Name</th>
      <th>Price</th>
      <th>Quantity</th>
      <th>Total NET</th>
      <th>Toral GROSS</th>
    </tr>
  </thead>
  <tbody>
    <% basket_summary.products_list.each do |list_item| %>
      <tr>
        <td><%= list_item[:product].name %></td>
        <td><%= "%.2f" % list_item[:product].price %></td>
        <td><%= list_item[:quantity] %></td>
        <td><%= "%.2f" % list_item[:total_net] %></td>
        <td><%= "%.2f" % list_item[:total_gross] %></td>
      </tr>
    <% end %>
  </tbody>
  <tfoot>
    <tr>
      <td></td>
      <td></td>
      <td>SUMMARY:</td>
      <td><%= basket_summary.sum_net %></td>
      <td><%= basket_summary.sum_gross %></td>
    </tr>
  </tfoot>
</table>
